<template>
    <footer class="relative bg-gray-300 pt-4 pb-3">
        <div class="container mx-auto px-4">
            <div
                class="flex flex-wrap items-center md:justify-between justify-center"
            >
                <div class="w-full md:w-4/12 px-4 mx-auto text-center">
                    <div class="text-sm text-gray-600 font-semibold py-1">
                        Developed By
                        <a
                            class="text-gray-600 hover:text-gray-900"
                            href="https://pushpak1300.github.io"
                            >Pushpak</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>
<script>
export default {
    data() {
        return {
            date: new Date().getFullYear(),
        };
    },
};
</script>
