<template>
    <div class="w-full xl:w-full mb-1 xl:mb-0 px-1">
        <div
            class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-gray-900"
        >
            <div class="rounded-t mb-0 px-3 py-3 bg-transparent">
                <div class="flex flex-wrap items-center">
                    <div class="relative w-full max-w-full flex-grow flex-1">
                        <h6
                            class="uppercase text-gray-200 mb-1 text-xs font-semibold"
                        >
                            Overview
                        </h6>
                        <h2 class="text-white text-xl font-semibold">
                            Asteroid Count
                        </h2>
                    </div>
                </div>
            </div>
            <div class="p-4 flex-auto">
                <div class="relative w-full" style="height:350px">
                    <canvas id="line-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Chart from "chart.js";
export default {
    props: {
        labels: Array,
        data: Array
    },
    mounted: function() {
        this.$nextTick(function() {
            var config = {
                type: "line",
                data: {
                    labels: this.labels,
                    datasets: [
                        {
                            label: "Count",
                            backgroundColor: "#4c51bf",
                            borderColor: "#4c51bf",
                            data: this.data,
                            fill: false
                        }
                    ]
                },
                options: {
                    maintainAspectRatio: false,
                    responsive: true,
                    title: {
                        display: false,
                        text: "Count Charts",
                        fontColor: "white"
                    },
                    legend: {
                        labels: {
                            fontColor: "white"
                        },
                        align: "end",
                        position: "bottom"
                    },
                    tooltips: {
                        mode: "index",
                        intersect: false
                    },
                    hover: {
                        mode: "nearest",
                        intersect: true
                    },
                    scales: {
                        xAxes: [
                            {
                                ticks: {
                                    fontColor: "rgba(255,255,255,.7)"
                                },
                                display: true,
                                scaleLabel: {
                                    display: false,
                                    labelString: "Day",
                                    fontColor: "white"
                                },
                                gridLines: {
                                    display: false,
                                    borderDash: [2],
                                    borderDashOffset: [2],
                                    color: "rgba(33, 37, 41, 0.3)",
                                    zeroLineColor: "rgba(0, 0, 0, 0)",
                                    zeroLineBorderDash: [2],
                                    zeroLineBorderDashOffset: [2]
                                }
                            }
                        ],
                        yAxes: [
                            {
                                ticks: {
                                  min: 0,
                                  fontColor: "rgba(255,255,255,.7)"
                                },
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: "Value",
                                    fontColor: "white"
                                },
                                gridLines: {
                                    borderDash: [3],
                                    borderDashOffset: [3],
                                    drawBorder: false,
                                    color: "rgba(255, 255, 255, 0.15)",
                                    zeroLineColor: "rgba(33, 37, 41, 0)",
                                    zeroLineBorderDash: [2],
                                    zeroLineBorderDashOffset: [2]
                                }
                            }
                        ]
                    }
                }
            };
            var ctx = document.getElementById("line-chart").getContext("2d");
            window.myLine = new Chart(ctx, config);
        });
    }
};
</script>
