<template>
    <div>
        <main v-if="result.loading">
            <div class="flex h-screen">
                <div class="m-auto">
                    <div
                        class="loader ease-linear text-center rounded-full border-8 border-t-8 border-gray-200 h-16 w-16"
                    ></div>
                </div>
            </div>
        </main>

        <main v-else>
            <div
                class="relative pt-16 pb-32 flex content-center items-center justify-center"
                style="min-height: 75vh;"
            >
                <div
                    class="absolute top-0 w-full h-full bg-center bg-cover"
                    style="
                        background-image: url('https://source.unsplash.com/collection/1111575/600x300');
                    "
                >
                    <span
                        id="blackOverlay"
                        class="w-full h-full absolute opacity-75 bg-black"
                    ></span>
                </div>
                <div class="container relative mx-auto">
                    <div class="items-center flex flex-wrap">
                        <div
                            class="w-full lg:w-6/12 ml-auto mr-auto text-center"
                        >
                            <div class="">
                                <h1 class="text-white font-semibold text-5xl">
                                    Asteroid Neo
                                </h1>
                                <p class="mt-4 text-lg text-gray-300">
                                    Explore Neo Near Earth Object Web Service<br />
                                    <a href="https://gitlab.com/pushpak1300/astroid-neo">
                                    <button
                                        class="bg-gray-300 mt-2 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center"
                                    >
                                        <svg
                                            class="h-6 w-6 mr-1 text-black"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        >
                                            <path
                                                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                                            ></path>
                                        </svg>
                                        <span>Gitlab</span>
                                    </button>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="text-gray-700 body-font">
                <div
                    class="container mx-auto flex flex-col px-5 py-3 justify-center items-center"
                >
                    <div
                        class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center"
                    >
                        <h1
                            class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
                        >
                            Get Neo Stats
                        </h1>
                        <p class="mb-8 leading-relaxed">
                            Selct start date and end date in you want to get Neo
                            stats.
                        </p>
                        <div
                            class="flex w-full justify-center"
                            data-children-count="1"
                        >
                            <div class="inline-flex">
                                <VueCtkDateTimePicker
                                    format="YYYY-MM-DD"
                                    label="Select Dates"
                                    formatted="ll"
                                    :range="range"
                                    v-model="date"
                                    position="top"
                                />
                            </div>
                            <button
                                class="inline-flex text-white bg-indigo-500 border-0 ml-2 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                                @click="fetchneo"
                            >
                                Sumbit
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section v-if="loaded">
                <hr class="mb-2" />
                <h1
                    class="text-gray-900 font-bold pb-3 text-center text-4xl"
                    id="stats"
                >
                    Stats
                </h1>
                <div class="grid grid-cols-2 gap-4">
                    <div class="px-2 md:px-10 mx-auto w-full m-2">
                        <div class="flex flex-wrap">
                            <line-chart-component
                                :labels="get_labels"
                                :data="get_data"
                            ></line-chart-component>
                        </div>
                    </div>
                    <div class="px-2 md:px-2 mx-auto w-full m-2">
                        <div class="flex flex-wrap w-full">
                            <div class="w-full text-center px-4">
                                <div
                                    class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
                                >
                                    <div class="flex-auto p-4">
                                        <div class="flex flex-wrap">
                                            <div
                                                class="relative w-full pr-4 max-w-full flex-grow flex-1"
                                            >
                                                <h5
                                                    class="text-gray-500 uppercase font-bold text-xs"
                                                >
                                                    Fastest Asteroid Speed
                                                    (km/hr)
                                                </h5>
                                                <span
                                                    class="font-semibold text-xl text-gray-800"
                                                >
                                                    {{
                                                        result.fast_astroid
                                                            .speed
                                                    }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="w-full text-center px-4">
                                <div
                                    class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
                                >
                                    <div class="flex-auto p-4">
                                        <div class="flex flex-wrap">
                                            <div
                                                class="relative w-full pr-4 max-w-full flex-grow flex-1"
                                            >
                                                <h5
                                                    class="text-gray-500 uppercase font-bold text-xs"
                                                >
                                                    Fastest Asteroid ID
                                                </h5>
                                                <span
                                                    class="font-semibold text-xl text-gray-800"
                                                >
                                                    {{ result.fast_astroid.id }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="w-full text-center px-4">
                                <div
                                    class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
                                >
                                    <div class="flex-auto p-4">
                                        <div class="flex flex-wrap">
                                            <div
                                                class="relative w-full pr-4 max-w-full flex-grow flex-1"
                                            >
                                                <h5
                                                    class="text-gray-500 uppercase font-bold text-xs"
                                                >
                                                    Closeest Astroid Distance
                                                </h5>
                                                <span
                                                    class="font-semibold text-xl text-gray-800"
                                                >
                                                    {{
                                                        result.closest_astroid
                                                            .speed
                                                    }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="w-full text-center px-4">
                                <div
                                    class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
                                >
                                    <div class="flex-auto p-4">
                                        <div class="flex flex-wrap">
                                            <div
                                                class="relative w-full pr-4 max-w-full flex-grow flex-1"
                                            >
                                                <h5
                                                    class="text-gray-500 uppercase font-bold text-xs"
                                                >
                                                    Closest Asteroid ID
                                                </h5>
                                                <span
                                                    class="font-semibold text-xl text-gray-800"
                                                >
                                                    {{
                                                        result.closest_astroid
                                                            .id
                                                    }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer-component></footer-component>
        </main>
    </div>
</template>
<script>
import NavbarComponent from "./BaseNavbar.vue";
import FooterComponent from "./BaseFooter.vue";
import LineChartComponent from "./BaseLineChart";

export default {
    name: "landing-page",
    components: {
        NavbarComponent,
        FooterComponent,
        LineChartComponent
    },
    data() {
        return {
            date: null,
            range: true,
            loaded: false,
            result: {
                loading: false
            }
        };
    },
    computed: {
        get_labels: function() {
            return Object.keys(this.result.chart);
        },
        get_data: function() {
            return Object.values(this.result.chart);
        }
    },
    methods: {
        setStartDate(startDate) {
            this.form.startDate = startDate;
        },
        validateinput() {
            if (this.date == null) {
                this.$swal("Add Start Date");
                return false;
            }
            if (this.date.end == null) {
                this.$swal("Add End Date");
                return false;
            }
            let startdate = moment(this.date.start, "YYYY-MM-DD");
            let enddate = moment(this.date.end, "YYYY-MM-DD");
            var diffDays =enddate.diff(startdate, 'days');             
            if (diffDays >= 7) {
                this.$swal("Date range should not be grater than 7 days");
                return false;
            }
            return true;
        },
        fetchneo() {
            if (this.validateinput()) {
                this.result.loading = true;
                this.loaded = false;
                let vm = this;
                axios
                    .get("/api/neo/v1", {
                        params: {
                            startdate: this.date.start,
                            enddate: this.date.end
                        }
                    })
                    .then(function(response) {
                        vm.result.loading = false;
                        vm.result = response.data;
                        vm.loaded = true;
                    })
                    .catch(function(error) {
                        vm.result.loading = false;
                        vm.$swal("Something went wrong!");
                    })
                    .then(function() {
                        document.getElementById("stats").scrollIntoView();
                    });
            }
        }
    }
};
</script>

<style>
.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
</style>
